.pageTitle{
   text-align: center;
   margin-top: 6%;
 }

.formControl{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    border: 3px solid black;
    border-radius: 3%;
    padding: 4%;
    text-align: center;
    
  }

  .mat-form-field{
   width: 70%;
   margin:1%;
  }

  .buttonRegister{
    width: 70%;
    margin-bottom: 2%;
 } 

 #errorMessage{
    width: 60%;
    align-items: center;
    text-align: center;
    margin:0 auto;
    color:red;
    font-size: 70%;
 }

 .buttonLogIn{
   margin:2%;
   width: 60%;
 }