.pageTitle{
   text-align: center;
   padding-top: 6%;
   color: white; 
  }

.formControl{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4%;
    text-align: center;
    background: white;
    
  }

  .mat-form-field{
   width: 80%;
   margin:1%;
  }

  .buttonRegister{
    width: 80%;
    margin-bottom: 2%;
 } 

 #errorMessage{
    width: 60%;
    align-items: center;
    text-align: center;
    margin:0 auto;
    color:red;
    font-size: 70%;
 }

 .buttonLogIn{
   margin:2%;
   width: 70%;
 }