.buttonActions{
    float:right;
    margin-top:1%;
    margin-right: 5%;
}

.postsTitle{
    margin:2%;
    margin-top:4.5%;
    text-align: center;
}

.designTableDiv{
    width: 100%;
}

.designTable{
    width: 100%;
    border-radius: 5px;
}

td{
    padding:2%;
    border:2px solid black;
    border-radius: 10px;
    background-color: #B7EFC5;
}

.textPost{
    text-align: justify;
}

.titlePost{
    text-align: center;
    font-size: 20px;
}

.NotTextComp{
    width: 100%;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    background-color: #6EDE8A;
    border-radius: 10px;
    padding-bottom: 2%;
    padding-top: 2%;
}

::ng-deep .mat-dialog-container {
    border-radius: 10px;
}