<mat-dialog-actions class="buttonActions">
    <button mat-raised-button  color="warn" [mat-dialog-close]="false"> Închide </button>
</mat-dialog-actions>
<h2 class="postsTitle">Postările lui {{getSearchUserName()}}</h2>
<div class="designTableDiv">
    <h1 *ngIf="posts.length == 0" style="text-align: center;">Nu are postări scrise</h1>
    <table class="designTable" *ngIf="posts.length > 0">      
      <tr *ngFor="let post of posts "> 
        <td> <div>
                <h2 class="titlePost">{{post.title}}</h2>
                <p  class="textPost" >{{post.text}} </p>
            </div>  
        </td>
      </tr>
   </table>
</div>
