
.info{
    width: 90%; 
    margin-top:2%;
}

.occupationInformation{
    width: 100%;
    padding: 1%;
    text-align: center;
}

.titleInfo{
    font-size: 150%;
}

.buttonActions{
    width: 35%;
    margin-left:10%;
    margin-right:5%;
    border-radius: 10px;
}

.buttonActions1{
    width: 35%;
    margin-right:10%;
    margin-left:5%;
    border-radius: 10px;
}


.buttonsDesign{
    margin:auto;
    text-align: center;
    align-items: center;
}

.error{
    color:red;
    text-align: center;
}

::ng-deep .mat-dialog-container {
    border-radius: 10px;
}