
.info{
    width: 90%; 
    margin-top:2%;
}

.occupationInformation{
    width: 100%;
    padding: 1%;
    text-align: center;
}

.titleInfo{
    font-size: 150%;
}

.buttonActions{
    width: 35%;
    margin-left:15%;
}

.buttonsDesign{
    margin:auto;
}