body{
  background: linear-gradient(0deg, #B7EFC5 0%, #1a7aa2 100%);
  background-size: cover;
  background-repeat: repeat-y;
}
  .pageTitle{
    text-align: center;
    padding-top: 0%;
    color:white;
  }

.mat-form-field{
    width: 75%;
}

.buttonLogIn{
    width: 75%;
    border-radius: 10px;
} 

a:link{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
} 

.inputField{
    margin:1%;
}

#link1{
    margin-top:3%;
}

.buttonRegister{
    margin-top: 4%;
    width: 75%;
    border-radius: 10px;
}

.imageBox{
  margin:auto;
  text-align: center;
  margin-bottom: 0%;
  padding-top: 5%;
}

.formControl{
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
  text-align: center;
  background: white;
}

@media only screen and (min-width: 1200px) {
.formControl{
  margin: auto;
  width: 30%;
}
.pageTitle{
  font-size: 22px;
}
img{
  width: 23%;
}
}

@media only screen and (min-width: 992px) and (max-width:1200px){
  
  .formControl{
    margin: auto;
    width: 35%;
  }
  .pageTitle{
    font-size: 21px;
  }
  img{
    width: 23%;
  }
} 
@media only screen and (min-width: 768px) and (max-width: 992px){
  .formControl{
    margin: auto;
    width: 45%;
  }
  .pageTitle{
    font-size: 20px;
  }
  img{
    width: 28%;
  }
} 
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .formControl{
    margin: auto;
    width: 60%;
  }
  .pageTitle{
    font-size: 20px;
  }
  img{
    width: 31%;
  }
}
@media only screen and (max-width: 600px) {
  .formControl{
    margin: auto;
    width: 85%;
  }
  .pageTitle{
    font-size: 18px;
  }
  img{
    width: 40%;
  }
}



