<h1 class="pageTitle">Comunitatea Alumni</h1>

<div class="formControl">

    <div class="inputField">
        <mat-form-field appearance="fill">
            <mat-label>Introduceți email-ul</mat-label>
            <input class="inputText" matInput placeholder="pat@example.com" name="email" [(ngModel)]="email"  required>
        </mat-form-field>
    </div>
    
    <div class="inputField">
        <mat-form-field appearance="fill">
          <mat-label>Introduceți parola</mat-label>
          <input  class="inputText" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
        </mat-form-field>
    </div>

    <div class="inputField">
        <button class="buttonLogIn" mat-raised-button color="primary" (click)="login()">Conectează-te</button>
    </div>
    <div class="inputField" id="link1">
        <a href="https://www.w3schools.com/"> Ai uitat parola? </a>
    </div>

    <hr>
    <div class="inputField" >
        <button mat-raised-button color="accent" class="buttonRegister" (click)="goToRegister()" target="_blank">Creează un cont nou</button>
    </div>
    
</div>