
  .pageTitle{
    text-align: center;
    padding-top: 10%;
    color:white;
  }

  .formControl{
    margin: auto;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3%;
    text-align: center;
    background: white;
  }

.mat-form-field{
    width: 70%;
}

 .buttonLogIn{
    width: 70%;
 } 

a:link{
    text-decoration: none;
}
  a:hover {
    text-decoration: underline;
} 

.inputField{
    margin:1%;
}

#link1{
    margin-top:3%;
}

.buttonRegister{
    margin-top: 4%;
    width: 70%;
}




  