
  .pageTitle{
    text-align: center;
    margin-top: 10%;
  }

  .formControl{
    margin: auto;
    width: 30%;
    border: 3px solid black;
    border-radius: 3%;
    padding: 5%;
    text-align: center;
  }

.mat-form-field{
    width: 60%;
}

 .buttonLogIn{
    width: 60%;
 } 

a:link{
    text-decoration: none;
}
  a:hover {
    text-decoration: underline;
} 

.inputField{
    margin:1%;
}

#link1{
    margin-top:3%;
}

.buttonRegister{
    margin-top: 4%;
    width: 40%;
}




  