.titleInfo{
    font-size: 150%;
}

.info{
    width: 100%; 
}

.studiesInformation{
    text-align: center;
    padding: 1%;
}

.buttonActions{
    width: 39%;
    margin-left:10%;
    border-radius: 10px;
}