.titleInfo{
    font-size: 150%;

}

.textFinishYear{
    text-align: center;
}

.info{
    width: 95%; 
}

.studiesInformation{
    width: 100%;
    padding: 1%;
    text-align: center;
}

.buttonActions{
    width: 40%;
    margin-left:10%;
}