<div>
    <div class="titleEditPage">
        <h1>Editare profil</h1>
    </div>

    <div class="allInformation">

        <div class="generalInformation" >
            <p class="titleInfo">Informații generale</p>

            <mat-form-field appearance="fill" class="info">
                <mat-label>Adaugă informații despre tine</mat-label>
                <textarea matInput placeholder="Eu sunt..." [(ngModel)]="description"></textarea>
            </mat-form-field>
                <br>
                <p>Alege o imagine</p>
                <div class="path">
                  <input type="file" >
                  </div>
              <br>
              <button mat-raised-button color="accent" class="saveButtons" (click)="updateProfile()">Salvează</button>
        </div>
    </div>
</div>
