.titleEditPage{
    text-align: center;
    margin:2%;
}

.generalInformation{
    width: 100%;
    padding: 1%;
    text-align: center;
}

.info{
    width: 90%; 
    margin-top:2%;
}

.path{
    width: 50%;
    margin:3%;
    text-align: center;
    margin-right: auto;
    margin-left:auto;
}

.buttonActions{
    width: 30%;
    margin-right: 14%;
    margin-left:4%
}
.buttonActions1{
    width: 30%;
    margin-left:15%;
    margin-right: 3%;
}

textarea{
    height: 170px;
    resize: vertical;
    font-size: 16px;
    text-align: justify;
}

.buttonMoveEdit{
    width: 50%;
    margin:2%;
    
}

.buttonsMove{
    text-align: center;
}

.buttonsDesign{
   margin:auto;
}