<div>
    <div class="titleEditPage">
        <h1>Editare profil</h1>
    </div>

    <div class="allInformation">

        <div class="generalInformation" >
            <p class="titleInfo">Informații generale</p>

            <mat-form-field appearance="fill" class="info">
                <mat-label>Adaugă informații despre tine</mat-label>
                <textarea matInput placeholder="Eu sunt..." [(ngModel)]="description"></textarea>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="info">
                <mat-label>Încarcă o imagine</mat-label>
                <input matInput  [(ngModel)]="picturePath" type="text">
              </mat-form-field>
              <br>
              <button mat-raised-button color="accent" class="saveButtons" (click)="updateProfile()">Salvează</button>
        </div>

        <div class="occupationInformation" >
            <p class="titleInfo">Informații despre ocupația actuală</p>
            
            <mat-form-field appearance="fill" class="info">
                <mat-label>Nume organizație</mat-label>
                <input matInput  #nameCompany >
              </mat-form-field>

              <mat-form-field appearance="fill" class="info"> 
                <mat-label>Funcție/ocupatie</mat-label>
                <input matInput #occupation >
              </mat-form-field>

              <mat-form-field appearance="fill" class="info">
                <mat-label>Din anul</mat-label>
                <input matInput #yearCheck1 maxlength="4" minlength="4" matInput type="number">
                <mat-hint align ="end">{{yearCheck1.value.length}} / 4 </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" class="info">
                <mat-label>Până în anul</mat-label>
                <input matInput #yearCheck2 maxlength="4" minlength="4" matInput type="number">
                <mat-hint align ="end">{{yearCheck2.value.length}} / 4 </mat-hint>
              </mat-form-field>

              <br>
              <button mat-raised-button color="accent" class="saveButtons" id="marginButton">Salvează</button>
        </div>

        <div class="studiesInformation" >
            <p class="titleInfo">Informații despre studi </p>

            <mat-form-field appearance="fill" class="info">
                <mat-label>Anul absolvirii</mat-label>
                <input matInput #yearCheck maxlength="4" type="number">
                <mat-hint align ="end">{{yearCheck.value.length}} / 4 </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" class="info">
                <mat-label>Facultate</mat-label>
                <mat-select >
                  <mat-option *ngFor="let faculty of faculties" value="{{faculty.facultyName}}" (onSelectionChange)="specializationsFaculty(faculty.facultyId)">{{faculty.facultyName}}</mat-option>
                </mat-select>
              </mat-form-field> 

              <mat-form-field appearance="fill" class="info">
                <mat-label>Forma de învățământ</mat-label>
                <mat-select >
                  <mat-option *ngFor="let lS of learningSchedules" value="{{lS.scheduleName}}">{{lS.scheduleName}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="info">
                <mat-label>Ciclu de studiu</mat-label>
                <mat-select >
                  <mat-option *ngFor="let studyProgram of studyPrograms" value="{{studyProgram.programName}}">{{studyProgram.programName}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="info">
                <mat-label>Specializare</mat-label>
                <mat-select >
                  <mat-option *ngFor="let s of specializations" value="{{s.specializationName}}">{{s.specializationName}}</mat-option>
                </mat-select>
              </mat-form-field>
   
              <br>
              <button mat-raised-button color="accent" class="saveButtons">Salvează</button>
             
        </div>
    </div>
</div>
