.titleEditPage{
    text-align: center;
    margin:2%;
}

.generalInformation{
    width: 100%;
    padding: 1%;
    text-align: center;
    margin-right:1%;
    
}

.info{
    width: 90%; 
    margin-top:2%;
}

#marginButton{
    margin-bottom: 15px;
}

.path{
    width: 50%;
    margin:3%;
    text-align: center;
    margin-right: auto;
    margin-left:auto;
}

.buttonActions{
    width: 40%;
    margin-left:10%;
}