.profileTitle{
    margin:2%;
    margin-top:24%;
    text-align: center;
}

.buttonActions{
    float:right;
    margin-right: 5%;
    color:black;
}

.textDescription{
    text-align: center;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    background-color:#6EDE8A ;
    border-radius: 10px;
    padding: 2%;
    font-size:16px;
}

::ng-deep .mat-dialog-container {
    border-radius: 10px;
}