.profileTitle{
    margin:2%;
    margin-top:18%;
    text-align: center;
}

.buttonActions{
    float:right;
    margin:1%;
    margin-right: 5%;
    color:black;
}

.textDescription{
    text-align: center;
}