 <h1 class="titlePage">Postări</h1>
         <hr class="line">
        
          <button *ngIf="showButtonShowPosts" class="buttonPost" mat-raised-button color="primary" (click)="openPosts()">Afișare postări</button>
          <button *ngIf="showClosePosts"  class="buttonPost" mat-raised-button color="primary"     (click)="closePosts()">Închide postările</button>
          <button *ngIf="closeButtonPost" class="buttonPost" mat-raised-button color="accent"      (click)="openNewPost()">Adaugă o postare</button>
      
         
            <div *ngIf="addPost" class="addPostDiv">
              <div class="formPost">
                 <mat-form-field appearance="fill" class="info">
                    <mat-label class="textLabel">Titlu postare</mat-label>
                    <input matInput  [(ngModel)]="titlePostAdd" >
                  </mat-form-field>
                  
                 <mat-form-field appearance="fill" class="info">
                   <mat-label class="textLabel">Adaugă o descriere postări</mat-label>
                    <textarea matInput [(ngModel)]="textPostAdd"></textarea>
                  </mat-form-field>

                  <p *ngIf="titlePostAdd=='' && textPostAdd==''" class="errorText"> Pentru a publica o postare trebuie completat cel puțin un câmp</p>
                 <!--
                 <br>
                  <p>Poți adăuga și o imagine postări tale</p>
                  <input style="display:none"  type="file" (change)="onFileSelected($event)" #fileInput>
                  <button type="button" class="addImage" mat-raised-button  (click)="fileInput.click()">Alege o fotografie</button>  
                  <p *ngIf="imageUrlAdd!=''">{{imageUrlAdd}} Imaginea a fost încărcată cu succes</p>

                  <br> -->
                    <button class="buttonNewPost"   mat-raised-button color="accent"  (click)="addNewPost()">Adaugă postarea</button>
                    <button class="buttonClosePost" mat-raised-button color="primary" (click)="closeNewPost()" >Închide</button>
                  </div>
             </div>
           <br>
<div class="designTableDiv" *ngIf="showPosts">
      <h1 *ngIf="posts.length == 0" class="textNotPosts">Nu aveți postări adaugate</h1>
      <table class="designTable" *ngIf="posts.length > 0">      
        <tr *ngFor="let post of posts "> 
          <td> <div>
                  <h2 class="titlePost">{{post.title}}</h2>
                  <p  class="textPost" >{{post.text}} </p>
              </div>  
              <div>
                <hr>
                <button mat-mini-fab color="warn" [matMenuTriggerFor]="menu">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="showUpdateTitlePost()" (click)="setIsActive(post.postId)" (click)="setTitle(post.title)">Editează titlul postari</button>
                  <button mat-menu-item (click)="showUpdateTextPost()"  (click)="setIsActive(post.postId)" (click)="setText(post.text)">Editează descrierea postări</button>
                  <button mat-menu-item (click)="showUpdateImagePost()" (click)="setIsActive(post.postId)">Editează poza postări</button>
                  <button mat-menu-item (click)="openDeleteDialog(post.postId)">Șterge postarea</button>
                </mat-menu>
              </div> 
              <div *ngIf="showTitleEditor && active==post.postId " class="editorsDiv">
                <mat-form-field appearance="fill" class="info">
                  <mat-label class="textLabel">Adaugă noul titlu </mat-label>
                  <input matInput  [(ngModel)]="postTitle"> 
                </mat-form-field>
                <br>
                <p *ngIf="showMessageError" class="messageError">Te rog să completezi câmpul</p>
                <br>
                <button mat-raised-button color="primary" class="closeButtons" (click)=" closeEditors()">Închide</button>
                <button mat-raised-button color="accent"  class="updateButtons"(click)=" updateTitlePost(post.postId)">Actualizează titlul</button>
              </div>
              <div *ngIf="showTextEditor  && active==post.postId ">
                <br>
                <mat-form-field appearance="fill" class="info">
                  <mat-label class="textLabel">Adaugă noua descriere aici</mat-label>
                  <textarea matInput [(ngModel)]="postText" ></textarea>
                </mat-form-field>
                <br>
                <p *ngIf="showMessageError" class="messageError">Te rog să completezi câmpul</p>
                <br>
                <button mat-raised-button color="primary" class="closeButtons" (click)=" closeEditors()">Închide</button>
                <button mat-raised-button color="accent"  class="updateButtons"(click)=" updateDescriptionPost(post.postId)">Actualizează descrierea</button>
              </div> 
              <div *ngIf="showImageEditor  && active==post.postId ">
                <p>imagine aici</p>
                <br>
                <button mat-raised-button color="primary" class="closeButtons" (click)=" closeEditors()">Închide</button>
                <button mat-raised-button color="accent"  class="updateButtons"(click)=" updateImagePost(post.postId)">Actualizează poza</button>
              </div>
          </td>
        </tr>
      </table>
</div>
