<!DOCTYPE html>
<header>
    <div class="homeButtons"> 
        <button mat-icon-button >
            <mat-icon class="buttonStyle" (click)="goToHomePage()">home</mat-icon>
        </button>
          <button class="buttonStyle" mat-button  (click)="goToEditProfilePage()">Actualizare profil</button>
          <button class="buttonStyle" mat-button  (click)="goToSearchPage()">Căutare absolvenți</button>
          <button class="buttonStyle" mat-button  (click)="goToLoginPage()" >Părăsește contul</button>
    </div>
</header>
<body>
    <div *ngIf="showHomePage" >
        <div class="homeText">
            <div class="profileInformation">
                <h1>Bine ai venit,</h1>
                <h1>{{ setName() }}</h1>
                <img src="{{ setPath() }}"/>
                <p>{{ setDescription() }}</p>
                <button class="buttonPost" mat-raised-button color="primary" (click)="goToEditProfilePage()">Actualizează profilul</button>
            </div>
            <div class="postsInformation">
                <h1>Postările tale</h1>
                <hr>
                <button class="buttonPost" mat-raised-button color="primary" >Adaugă o postare</button>
            </div>
        </div>
    </div>
    <div *ngIf="showEditPage">
        <app-edit-profile-component></app-edit-profile-component>
    </div>
    <div *ngIf="showSearchPage">
        <app-search-component></app-search-component>
    </div> 
</body>
