
body{
    background: linear-gradient(0deg, #B7EFC5 0%, #0d8c2d 100%);
    background-repeat: repeat;
}

.marginTop{
    margin:auto;
    padding-bottom: 0.5%;
}

.confirmationMessage{
    text-align: center;
    font-size:16px;
    color:red;
}

.userName{
    font-size: 22px;
    font-weight: bold;
    margin-top:1%;
}

.mat-icon-button {
    margin-left:10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.line{
    width: 97.5%;
}

.descriptionText{
    width: 92%;
    font-size: 16px;
    margin:1% 1% 2% 1%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    background-color:#6EDE8A ;
    padding: 3%;
}

.openButtons{
    width: 25%;
    border-radius: 10px;
    margin-bottom:2%;
    margin-left:3%;
    margin-right: 3%;
}

.closeButtons{
    width: 25%;
    float:right;
    margin-top:2%;
    margin-bottom: 2%;
    margin-right: 6.5%;
    border-radius: 10px;
}

.buttonModified{
    width: 40%;
    text-align: center;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left:6%;
    float:left;
    border-radius: 10px;
}

.mat-form-field{
    width: 60%;
}

.buttonNewPost{
    width: 30%;
    margin:1%;
    font-size: 100%;
}

.addImage{
    width: 30%;
    margin:2%;
}

.allCompForStudies{
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.designTable{
    width: 100%;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    background-color:#6EDE8A ;
    border-radius: 10px;
}

.textEditStudies{
    text-align: justify;
}

.firstLineText{
    width: 100%;
    text-align: justify;
}

.expandButton{
    float:right;
    margin:0%;
}

.studyIcon{
    margin:2%;
}

.studiesTitle{
    margin:0%;
}

.studiesConfirmation{
    margin:0%;
    color:red;
}

.buttonProfileText{
   float:right;
}
.buttonsOpen{
    width: 100%;
}

.textNotPosts{
    text-align: center;
    margin-top: 2%;
}

header{
    padding: 2px;
    display: flex;
    align-items: center;
}
  img{
    height: auto;
  }
  .elementForSpace{
    flex-grow: 1; 
  }

  .homeButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background: radial-gradient(circle at top, #2990bc , #0d8c2d);
    border-radius: 100px;
    border:3px solid black;
}

.profileInformation{
    text-align: center;
    background-color:white ;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    border-radius: 10px !important;
}

.postsInformation{
    text-align: center;
    background-color:white ;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    border-radius: 10px !important;
}

@media only screen and (min-width: 1200px) {
    header{
        padding: 2px;}

    .homeButtons{
        width: 50%;
    }
    .elementForSpace{
        width: 52%;
      }

    img{
        width: 40%;
      }
    
    .material-icons.md-40 { 
        font-size: 38px;
        color:white;
    }
    
    .material-icons.md-36 { 
        font-size: 34px;
        color:white;
    }

    .profileInformation{
        margin-top:1%;
        margin-left: 1%;
        border-radius: 0%;
        width: 48%;
        padding: 0.5%;
        float:left;
    }
    
    .postsInformation{
        margin-top:1%;
        margin-right: 1%;
        border-radius: 0%;
        width: 46%;
        padding: 1%;
        float:right;
    }

}

 @media only screen and (min-width: 992px) and (max-width:1200px){
    
    header{
        padding: 2px;}

    .homeButtons{
        width: 60%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .elementForSpace{
        width: 62%;
      }

    img{
        width: 50%;
      }

    .material-icons.md-40 { 
        font-size: 36px;
        color:white;
    }
    
    .material-icons.md-36 { 
        font-size: 32px;
        color:white;
    }

    .profileInformation{
        margin-top:0.5%;
        margin-left: 1%;
        border-radius: 0%;
        width: 48%;
        padding: 0.5%;
        float:left;
    }
    
    .postsInformation{
        margin-top:0.5%;
        margin-right: 1%;
        border-radius: 0%;
        width: 46%;
        padding: 1%;
        float:right;
    }

} 
    
@media only screen and (min-width: 768px) and (max-width: 992px){
    header{
        padding: 2px;}

    .homeButtons{
        width: 70%;
        padding: 0.5% 3% 0.5% 3%;
    }
    .elementForSpace{
        width: 80%;
      }

    img{
        width: 60%;
      }

    .marginTop2{
        margin: auto;
        padding:1%;
    }
    
    .material-icons.md-40 { 
        font-size: 33px;
        color:white;
    }
    
    .material-icons.md-36 { 
        font-size: 29px;
        color:white;
    }

    .profileInformation{
        margin: auto;
        height:auto;
        border-radius: 0%;
        width: 80%;
        padding: 0.5%;
    }
    
    .postsInformation{
        margin-top:1%;
        margin: auto;
        margin-top:5%;
        border-radius: 0%;
        width: 80%;
        padding: 1%;
    }

} 
    
@media only screen and (min-width: 600px) and (max-width: 768px) {
    header{
        padding: 2px;}

    .homeButtons{
        width: 100%;
    }
    .elementForSpace{
        width: 10%;
      }

    img{
        width: 60%;
      }

    .material-icons.md-40 { 
        font-size: 31px;
        color:white;
    }
    
    .material-icons.md-36 { 
        font-size: 27px;
        color:white;
    }

    .marginTop2{
        margin: auto;
        padding:1%;
    }

    .profileInformation{
        margin: auto;
        border-radius: 0%;
        width: 90%;
        height: auto;
        padding: 0.5%;
    }
    
    .postsInformation{
        margin-top:1%;
        margin: auto;
        margin-top:5%;
        border-radius: 0%;
        width: 90%;
        padding: 1%;
    }
}
    
@media only screen and (min-width: 463px) and (max-width: 600px)  {
    header{
        padding: 7px;}

    .homeButtons{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .elementForSpace{
        width: 10%;
      }

    img{
        width: 60%;
      }
    
    .material-icons.md-40 { 
        font-size: 29px;
        color:white;
    }
    
    .material-icons.md-36 { 
        font-size: 25px;
        color:white;
    }

    .marginTop2{
        margin: auto;
        padding:1%;
    }

    .profileInformation{
        margin: auto;
        border-radius: 0%;
        width: 90%;
        height: auto;
        padding: 0.5%;
    }
    
    .postsInformation{
        margin-top:1%;
        margin: auto;
        margin-top:5%;
        border-radius: 0%;
        width: 90%;
        padding: 1%;
    }
}

@media only screen and  (max-width: 463px)  {

    header{
        padding: 8px;}

    .homeButtons{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .elementForSpace{
        width: 0;
    }

    img{
        width: 60%;
      }
    
    .material-icons.md-40 { 
        font-size: 27px;
        color:white;
    }
    
    .material-icons.md-36 { 
        font-size: 23px;
        color:white;
    }

    .marginTop2{
        margin: auto;
        padding:1%;
    }

    .profileInformation{
        margin: auto;
        border-radius: 0%;
        width: 90%;
        height: auto;
        padding: 0.5%;
    }
    
    .postsInformation{
        margin-top:1%;
        margin: auto;
        margin-top:5%;
        border-radius: 0%;
        width: 90%;
        padding: 1%;
    }
}