.homeButtons{
    background-color: rgb(226, 248, 226);
    margin:auto;
    text-align: center;
}

.buttonStyle{
    font-size: larger;
    margin: 1%;
}

.mat-icon{
    font-size: 180%;
    margin-bottom: 5px;
}

.homeText{
    margin-top:5%;
    text-align: center;
}

