<!DOCTYPE html>
<header>
    <div class="homeButtons"> 
        <button mat-icon-button >
            <mat-icon class="material-icons md-36" (click)="goToHomePage()">home</mat-icon>
        </button>
          <button class="buttonStyle" mat-button  (click)="goToSearchPage()">Căutare absolvenți</button>
          <button class="buttonStyle" mat-button  (click)="goToLoginPage()" >Părăsește contul</button>
    </div>
</header>
<body style="background-color:rgb(230, 255, 230) ;">
    <div *ngIf="showHomePage" >
        <div class="homeText">
            <div class="profileInformation">
                <h1>Bine ai venit!</h1>
                <h1>{{ setName() }}</h1>
                <img src="{{ setPath() }}"/>
                <div class="descriptionComp">
                    <p>{{ setDescription() }}</p>
                    <button mat-mini-fab [ngStyle]="{transform: 'scale(0.8)'}"  color="warn" (click)="openEditProfile()" class="buttonModifyProfile">
                        <mat-icon class="material-icons md-20">edit</mat-icon>
                     </button>
                </div>
                <div>
                    <button mat-raised-button color="accent" class="openButtons" (click)="openFinishedStudys()">Studii efectuate</button>
                    <button mat-raised-button color="accent" class="openButtons" (click)="openExperience()">Experiență profesională</button>
                </div>
                <div *ngIf="showFinishedStudys">
                    <h1>Studii efectuate</h1>
                    <div  class="allCompForStudies">
                        <br>
                        <table class="designTable" *ngIf="finishStudyDetailed.length > 0">      
                            <tr *ngFor="let finishStudy of finishStudyDetailed"> 
                              <td class="textEditStudies">
                                <div class="firstLineText">
                                    <mat-icon class="studyIcon" aria-hidden="false" aria-label="Example home icon" fontIcon="home">school</mat-icon>
                                    A învățat la <b>{{' '+finishStudy.specialization?.faculty?.facultyName+' '}} </b> 
                                    <button *ngIf="viewMoreButton" mat-icon-button (click)="viewMore()" (click)="setIsActive(finishStudy.finishedStudyId)" class="expandButton"> <mat-icon>expand_more</mat-icon> </button>
                                </div>
                              <div *ngIf="viewMoreInformation && finishStudy.finishedStudyId==active ">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programul de studii <b>{{' '+finishStudy.studyProgram?.programName+' '}}</b> la <b>{{' '+finishStudy.learningSchedule?.scheduleName+' '}}</b>, 
                                specializarea <b>{{' '+finishStudy.specialization?.specializationName+'.'}}</b> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Promoția <b>{{' '+finishStudy.year}}</b>  
                                <button mat-icon-button (click)="viewLess()" class="expandButton"> <mat-icon>expand_less</mat-icon> </button>
                              </div>
                              </td>
                            </tr>
                          </table>
                    </div>
                    <hr>
                    <button mat-raised-button color="primary" class="closeButtons" (click)="close()">Închide</button>
                    <button class="buttonModified" mat-raised-button color="accent" (click)="openAddStudiesDialog()">Adaugă studii</button>  
                </div>
               

                <div *ngIf="showExperience">
                      <app-experience-component></app-experience-component>
                      <button mat-raised-button color="primary" class="closeButtons"(click)="close()">Închide</button>
                      <button class="buttonModified" mat-raised-button color="accent" (click)="openAddExperienceDialog()">Adaugă o nouă experiență profesională</button>
                </div>        
            </div>
            <div class="postsInformation">
                <div>
                  <app-post-component></app-post-component>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showSearchPage">
        <app-search-component></app-search-component>
    </div> 
</body>
