.homeButtons{
    margin:auto;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(143, 203, 143);
}

.buttonStyle{
    font-size: larger;
    margin: 1%;
}

.mat-icon{
    font-size: 180%;
    margin-bottom: 5px;
}

.homeText{
    margin-top:2%;
    text-align: center;
}

