.designTable{
    width: 100%;
}

.firstColumn{
    width: 40%;
    padding:1%;
    text-align: justify;
}

.secondColumn{
    width: 60%;
    text-align: left;
    padding:1%;
}

.material-icons.orange{
    color: rgba(0, 0, 0, 0.26);
}

.closeButtons{
    width: 30%;
}

.buttonModified{
    width: 60%;
    margin-right:2%
}

.info{
    width: 100%;
}

.buttonToUpdateMenu{
    width: 10%;
    margin:0%;
}

.editorsDiv{
    width: 85%;
    text-align: center;
    margin-left: 13%;
}

.material-icons.md-20 { 
    font-size: 20px;
}

.allComp{
    Overflow-y:scroll;
    width: 100%;
    height: 396px;
}

.infoDate{
    width: 40%;
    margin-left:5%;
}