.designTable{
    width: 100%;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    background-color:#6EDE8A ;
    border-radius: 10px;
   
}

.firstColumn{
    width: 100%;
    padding:1%;
    text-align: justify;
}

.messageError{
    color:red;
}


.closeButtons{
    width: 20%;
    border-radius: 10px;
}

.buttonModified{
    width: 30%;
    margin-right: 40%;
    border-radius: 10px;
}

.info{
    width: 90%;
}

.material-icons{
    margin:1%;
}

.TextExperience{
    width: 85%;
    float:left;
    margin-left:2%;
}

.buttonToUpdateMenu{
    width: 10%;
    float:right;
    margin-right: 0%;
    margin-top:0.5%;
}

.editorsDiv{
    width: 70%;
    margin:auto;
    margin-top:16%;
    margin-bottom: 2%;
    padding:2%;
    border:3px solid black;
    box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.8);
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.material-icons.md-20 { 
    font-size: 20px;
}

.allComp{
    width: 100%;
    height: auto;
    max-height: 490px;
    overflow-y: auto;
    
}

.infoDate{
    width: 40%;
    margin-right:25%;
    margin-top: 1%;
}

.dateButton{
    width: 100%;
    border-radius: 10px;
}


.textLabel{
    color:purple;
}

.textNotPosts{
    text-align: center;
    margin-top: 2%;
}

.line{
    width: 97.5%;
}

.divSwitchDate{
    margin-top:0.5%;
    float:right; 
    margin-right: 5%;
}

@media only screen and (min-width: 463px) and (max-width: 600px)  {
    .infoDate{
        width: 90%;
        margin-top: 1%;
        margin-left: 5%;
    
    }
   
    .closeButtons{
        width: 30%;
        border-radius: 10px;
    }
    
    .buttonModified{
        width: 40%;
        border-radius: 10px;
    }

    .divSwitchDate{
        float:right;
        width: 40%;
        margin-bottom: 4%;
        margin-top: 1%;
        margin-right: 25%;
    }
}

@media only screen and  (max-width: 463px)  {
    .infoDate{
        width: 90%;
        margin-top: 1%;
        margin-left: 5%;
    }
   
    .closeButtons{
        width: 30%;
        border-radius: 10px;
    }
    
    .buttonModified{
        width: 40%;
        border-radius: 10px;
    }

    .divSwitchDate{
        float:right;
        width: 40%;
        margin-bottom: 4%;
        margin-top: 1%;
        margin-right: 25%;
    }
   
}