<div class="allComp">
    <br>
    <h2 *ngIf="experience.length == 0" class="textNotPosts">Nu aveți experiență adaugată</h2>
    <table class="designTable" *ngIf="experience.length > 0">      
        <tr *ngFor="let exp of experience"> 
        <td class="firstColumn">
         <div class="TextExperienceAndEditButton">
            <div class="TextExperience">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons" fontIcon="work">work</mat-icon>
              A lucrat la  <b>{{' '+exp.companyName+' '}}</b>  unde a ocupat funcția de <b>{{' '+exp.jobTitle+' '}}</b>  în perioada  <b *ngIf="exp.endDate!=null">{{exp.startDate + ' - '+ exp.endDate }}</b> 
              <b  *ngIf="exp.endDate==null">{{exp.startDate + ' - prezent' }}</b>
            </div>
          
            <div class="buttonToUpdateMenu">
               <button mat-mini-fab [ngStyle]="{transform: 'scale(0.8)'}"  color="warn" [matMenuTriggerFor]="menu">
                  <mat-icon class="material-icons md-20">edit</mat-icon>
               </button>
              <mat-menu #menu="matMenu">
               <button mat-menu-item  (click)="setIsActive(exp.experienceId)" (click)="showUpdateCompany()" (click)="setNameCompany(exp.companyName)" >Editează firma          </button>
               <button mat-menu-item  (click)="setIsActive(exp.experienceId)" (click)="showUpdateJob()"     (click)="setJobTitle(exp.jobTitle)"       >Editează poziția acupată</button>
               <button mat-menu-item  (click)="setIsActive(exp.experienceId)" (click)="showUpdateDate()"     >Editează perioada       </button>
               <button mat-menu-item  (click)="openDeleteDialog(exp.experienceId)">Șterge experiența</button>
             </mat-menu>
          </div> 
        </div>
          <div class="editForm">
            <div *ngIf="showCompanyEditor && active==exp.experienceId " class="editorsDiv">
              <mat-form-field appearance="fill" class="info">
                <mat-label class="textLabel">Adaugă noul nume al companiei aici</mat-label>
                <input matInput  [(ngModel)]="company" >
              </mat-form-field>
              <br>
              <p *ngIf="showMessageError" class="messageError">Te rog să completezi câmpul</p>
              <br>
              <button mat-raised-button color="accent"  class="buttonModified"(click)=" updateCompany(exp.experienceId)">Modifică</button>
              <button mat-raised-button color="primary" class="closeButtons"  (click)=" closeEditors()">Închide</button>
            </div>
            <div *ngIf="showJobEditor && active==exp.experienceId " class="editorsDiv">
              <mat-form-field appearance="fill" class="info">
                <mat-label class="textLabel">Adaugă noul post</mat-label>
                <input matInput  [(ngModel)]="jobTitle" >
              </mat-form-field>
              <br>
              <p *ngIf="showMessageError" class="messageError">Te rog să completezi câmpul</p>
              <br>
              <button mat-raised-button color="accent"  class="buttonModified"(click)=" updateJobTitle(exp.experienceId)">Modifică</button>
              <button mat-raised-button color="primary" class="closeButtons"  (click)=" closeEditors()">Închide</button>
            </div>
            <div *ngIf="showDateEditor && active==exp.experienceId " class="editorsDiv">
              <div *ngIf="showStartDate">
                <mat-form-field appearance="fill" class="infoDate">
                  <mat-label class="textLabel">Început perioadă</mat-label>
                  <input matInput #yearCheck type="text" (input)="restrictInput($event)" [(ngModel)]="startDate">
                  <mat-hint align ="end">{{yearCheck.value.length}} / 4 </mat-hint>
                </mat-form-field>
                <div class="divSwitchDate">
                  <button mat-raised-button color="primary" class="dateButton"  (click)="openEndDate()"><div style="margin-bottom: -15px;">Sfârșitul</div><div>perioadei</div> </button>
                </div>
                
              </div>
              <div *ngIf="showEndDate">
                <mat-form-field appearance="fill" class="infoDate">
                  <mat-label class="textLabel">Sfârșit perioadă</mat-label>
                  <input matInput #yearCheck2 type="text" (input)="restrictInput($event)" [(ngModel)]="endDate">
                  <mat-hint align ="end">{{yearCheck2.value.length}} / 4 </mat-hint>
                </mat-form-field>
                <div class="divSwitchDate">
                  <button mat-raised-button color="primary" class="dateButton"  (click)="openStartDate()"><div style="margin-bottom: -15px;">Începutul</div><div>perioadei</div> </button>
                </div>
              </div>

              
              <br>
               <p *ngIf="showMessageError" class="messageError">Te rog să completezi câmpul</p>
              <br>
              <button mat-raised-button color="accent"  class="buttonModified"(click)=" updateStartDate(exp.experienceId)" (click)="updateEndDate(exp.experienceId)">Modifică</button>
              <button mat-raised-button color="primary" class="closeButtons"  (click)=" closeEditors()">Închide</button>
            </div>
           </div>
         </td>    
        </tr>
     </table>
</div>        

