<div class="searchBar">

  <div class="buttonsPosts">
    <button mat-raised-button *ngIf="showAllPostsButton"    color="primary" (click)="showPosts()"  class="postButton">Toate postările  </button>
    <button mat-raised-button *ngIf="showCloseButton" color="primary" (click)="closePosts()" class="postButton">Înapoi la căutare</button>
  </div>

  <div class="tableBox" *ngIf="showAllPosts">
    <h2 *ngIf="posts.length == 0">Nu există postări</h2>
    <table>
        <tr *ngFor="let post of posts">
            <td class="firstTableRow">
                <div class="textBox">
                    <h3 style="text-align: center;"><b>{{post.title}}</b></h3>
                    <p style="text-align: justify;">    {{post.text}}</p>
                 </div>
            </td>
        </tr>
    </table>
  </div>
  
  <div class="searchElements" *ngIf="showSearch">
    <div>
      <div style="text-align: center;">
        <mat-form-field appearance="fill" class="searchBarInput">
         <mat-label>Te rog introdu numele pe care îl cauți</mat-label>
         <mat-icon matPrefix class="searchIcon" color="primary">person_search</mat-icon>
         <input matInput placeholder="Nume absolvent" type="text" [(ngModel)]="searchPeople" (input)="onSearch()">
        </mat-form-field>
      </div>
  </div>

  <div class="searchPeople" *ngIf="showSearch">
    <h2  *ngIf="users.length == 0"> Nu există niciun absolvent</h2>
    <table class="designTable" *ngIf="users.length > 0">      
      <tr *ngFor="let user of searchR"> 
          <h2 *ngIf="users.length ==0"> Nu există niciun absolvent cu acest nume</h2>
        <td  *ngIf="currentUser.firstName != user.firstName && currentUser.lastName != user.lastName && !user.isAdmin">
          <div class="personName">
              <h2>  {{user.firstName}} {{user.lastName}}  </h2>      
              <div class="validBox"><b class="validText" *ngIf="!user.isValid">NECONFIRMAT</b></div>
          </div>
          
          <div>
            <button mat-icon-button class="infoButtons">
              <mat-icon class="material-icons md-36" title="Studii efectuate"        (click)="openStudiesForSearchUser(user.profileId)">school</mat-icon>
            </button>
            <button mat-icon-button class="infoButtons">
              <mat-icon class="material-icons md-36" title="Experiență profesională" (click)="openExperienceForSearchUser(user.profileId)">work</mat-icon>
            </button>
            <button mat-icon-button class="infoButtons">
              <mat-icon class="material-icons md-36" title="Postări"                 (click)="openPostsForSearchUser(user.userId,user.firstName,user.lastName)">list_alt</mat-icon>
            </button>
            <button mat-icon-button class="infoButtons" title="Informații persoană"  (click)="openProfileForSearchUser(user.profileId,user.firstName,user.lastName)">
              <mat-icon class="material-icons md-36"  >badge</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>